/* Root variable */
:root {
  --primary:#fff;
  --secondary: #d91921;
  --black: black;
}
/* Boiler Plate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

body,
html {
  width: 100%;
  height: 100%;
}

/* Fonts Loader*/
@font-face {
  font-family: cocaCola;
  src: url(/fonts/cocacola1.ttf);
}

/* For spans */
.inline-block {
  display: inline-block;
}

#main {
  position: relative;
  width: 100%;
}

/* Page1 starts */
#page1 {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background-color: var(--secondary);
  overflow: hidden;
}

nav {
  position: relative;
  padding: 1vw 2vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav-left {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2vw;
  padding: 0.5vw;
  gap: 1.8vw;
  cursor: pointer;
}

.nav-left > i {
  position: relative;
  z-index: 1;
  font-size: 1.2vw;
}

.nav-left > i:nth-child(1) {
  color: #fff;
}

.nav-left > i:nth-child(2) {
  color: var(--secondary);
}

.nav-left-circle {
  position: absolute;
  height: 3.5vh;
  width: 3.5vh;
  border-radius: 50%;
  background-color: var(--secondary);
  left: 5%;
}

.nav-center {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-center > img {
  object-fit: cover;
  height: 3vw;
}

.nav-right {
  display: flex;
  gap: 5vw;
  color: var(--primary);
  font-size: 1.2vw;
  align-items: center;
}

.nav-right i {
  color: #fff;
}

.nav-right-menu {
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.6vw;
}

.webgl {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.page1-main {
  position: relative;
  height: 55vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.page1-main > h1 {
  font-size: 22vw;
  line-height: 0.6;
  color: #8c0000;
  font-weight: 400;
  font-family: cocaCola;
}

.page1-footer {
  position: relative;
  padding: 1vw 2vw;
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: #fff;
}

.page1-footer-left {
  position: relative;
}

.page1-footer-left > h1 {
  font-size: 6vw;
  line-height: 0.8;
}

.page1-footer-left > h3 {
  font-size: 2vw;
  font-weight: 500;
  margin-top: 1vw;
}

.page1-footer-right {
  position: relative;
  display: flex;
  gap: 0.5vw;
}

.three-loder {
  position: relative;
  width: 3vw;
  height: 3px;
  background-color: #a0a0a0;
}

.three-loder-line1,.three-loder-line2,.three-loder-line3 {
  position: relative;
  width: 0%;
  height: 100%;
  background-color: white;
}

/* Page1 ends */

/* Page2 starts */
#page2 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary);
  text-align: center;
  overflow: hidden;
  padding: 2.5vw 0;
  padding-bottom: 0;
}
#page2 #slide1 {
  width: 100%;
  display: flex;
  margin-bottom: 8vw;
}
#page2 #slide1 h2 {
  flex-shrink: 0;
  display: flex;
  font-size: 4vw;
  text-transform: capitalize;
  color: transparent;
  -webkit-text-stroke: 2px #d91921;
  font-weight: 600;
  animation-name: slider;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 15s;
}
@keyframes slider {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#page2 #slide1 h2 span {
  margin-right: 4vw;
  display: flex;
  align-items: center;
  gap: 2vw;
}

#page2 h1 {
  font-size: 4vw;
  color: #d91921;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page2 h1 #textgif {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50px;
  margin: 0 1vw;
}
#page2 h1 #textgif img {
  width: 10vw;
  height: 4vw;
  object-fit: cover;
}
#page2 p {
  font-size: 1.32vw;
  width: 52%;
  margin: 0 auto;
  font-weight: 500;
  color: #656565;
  text-transform: capitalize;
  margin: 1.5vw auto;
  line-height: 1.3;
}

#swiper{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#swiper #swiper-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  height: 100%;
  width: 95%;
  opacity: 0;
}
#swiper #swiper-btn:hover {
  opacity: 1;
}

#swiper-btn .btns {
  color: var(--primary);
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0.408);
  padding: 2.5vw;
  transform: scale(.7);
  border-radius: 50%;
}
.swiper {
  position: relative;
  width: 100%;
  height: 30%;
  transform: scale(3);
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.over-card {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent 45%, black);
  padding: 1vw 2vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 1;
  transition: all ease 0.5s;
  color: #fff;
}
.over-card h4 {
  text-transform: capitalize;
  font-size: 2vw;
  font-weight: 500;
}
.over-card h6 {
  font-size: 0.7vw;
  width: 73%;
  line-height: 1.1;
  font-weight: 500;
  opacity: 0.9;
  text-align: left;
}


/* Page2 ends */

/* Page3 starts */
#page3 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

#page3 canvas {
  min-height: 100vh;
  width: 100%;
}

/* Page3 ends */

/* Page4 starts */
#page4 {
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
  position: relative;
  padding: 1vw 2vw;
}

#page4 .heading {
  height: 12vw;
  display: flex;
  align-items: center;
  gap: 4vw;
}

#page4 .heading h1 {
  font-size: 5vw;
  line-height: 5vw;
  font-weight: 600;
  letter-spacing: -0.2vw;
  color: #d91921;
}

#page4 .heading .arrow {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  color: #fff;
  background-color: #d91921;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page4 .heading .arrow i {
  font-size: 2vw;
}

#page4 .section {
  width: 100%;
  height: 18vh;
  border-bottom: 1px solid var(--black);
  display: flex;
  align-items: center;
  gap: 2vw;
}

#page4 .section h3 {
  font-size: 2vw;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--black);
}

#page4 .section i {
  font-size: 2.5vw;
  color: #d91921;
}
/* Page4 ends */

/* Page5 starts */
#page5 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #d91921;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#page5 h1 {
  font-size: 6vw;
  white-space: nowrap;
}

#page5 #line2 {
  display: flex;
  align-items: center;
}

#page5 #line2 #video {
  width: 20vw;
  height: 16vh;
  background-color: skyblue;
}

#page5 #line2 #video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.01;
}

/* Page5 ends */

/* Page6 starts */
#page6 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.page6-wrapper {
  overflow: hidden;
}

.page6-wrapper > h1 {
  position: sticky;
  top: 0%;
  font-size: 16vw;
  line-height: 1;
  color: #fff;
  mix-blend-mode: difference;
}

.page6-imgs {
  position: absolute;
  top: 110%;
  height: 90vh;
  width: 70vw;
  background-color: var(--primary);
  /* rotate: -5deg; */
  right: -25%;
  opacity: 0.9;
  overflow: hidden;
}

.page6-imgs > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Page6 ends */

/* Page7 starts */
#page7 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  padding: 2vw 4vw;
  color: #d91921;
}

.page7-part1 {
  position: relative;
  height: 110vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page7-part1-left {
  position: relative;
  height: 100%;
  width: 45%;
}

.page7-part1-left > h1 {
  font-size: 5vw;
  line-height: 1;
}

.page7-part1-left > p {
  font-size: 1.6vw;
  margin-top: 2vw;
  color: #414141;
}

.page7-part1-left > button {
  background-color:#d91921;
  color: #fff;
  border: none;
  padding: 0.5vw 1vw;
  font-size: 1vw;
  margin-top: 2vw;
}

.page7-part1-right {
  position: relative;
  height: 100%;
  width: 45%;
}

.page7-part1-right > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page7-part2 {
  position: relative;
  height: 110vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 1vw;
}

.page7-part2-left {
  position: relative;
  height: 100%;
  width: 55%;
}

.page7-part2-left > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page7-part2-right {
  position: relative;
  height: 100%;
  width: 45%;
  padding-left: 4vw;
}

.page7-part2-right > h1 {
  font-size: 5vw;
  line-height: 1;
}

.page7-part2-right > p {
  font-size: 1.6vw;
  margin-top: 2vw;
  color: #414141;
}

.page7-part2-right > button {
  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  padding: 0.5vw 1vw;
  font-size: 1vw;
  margin-top: 2vw;
}

/* Page7 ends */
#page8 {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  pointer-events: none;
}
/* Footer starts */
#footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #d91921;
  color: #fff;
  padding: 0 3.5vw;
  font-family: fantasy;
}
#foot-pt1 {
  width: 100%;
  display: flex;
  align-items: center;
}
#foot-pt1 #foot-logo {
  height: 2.5vw;
  margin: 0 0.8vw;
}
#foot-pt1 h2 {
  font-weight: 400;
  font-size: 1.7vw;
}
#foot-pt1 #line {
  width: 100%;
  height: 0.15vw;
  background-color: var(--primary);
  margin-left: 2vw;
}
#foot-pt1 svg {
  width: 100vw;
}
#foot-pt2 {
  display: flex;
  gap: 7vw;
  margin-top: 2vw;
}
.wrp {
  display: flex;
  align-items: center;
  gap: 0.3vw;
  margin-bottom: 1.2vw;
}
.wrp .arrow {
  position: relative;
  height: 2vw;
  width: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrp .arrow .second-arr {
  position: absolute;
  left: -100%;
  top: 100%;
}
.wrp:hover .first-arr {
  transform: translate(100%, -100%);
}
.wrp:hover .second-arr {
  transform: translate(100%, -100%);
}
.wrp i {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 2.5vw;
  transition: all ease 0.4s;
}

#foot-pt2 .wrap-ft {
  width: fit-content;
  height: 1.2vw;
  overflow: hidden;
  margin-bottom: 0.8vw;
}
#foot-pt2 .wrap-ft:hover h4 {
  transform: translateY(-100%);
}
#foot-pt2 h2 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.8vw;
  cursor: pointer;
}
#foot-pt2 h4 {
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 1;
  transition: all ease 0.3s;
  cursor: pointer;
}

#foot-pt3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3vw;
  padding-bottom: 1vw;
}

#foot-pt3 #social {
  display: flex;
  gap: 2.5vw;
}
#foot-pt3 .wrp {
  margin-bottom: 0;
}
#foot-pt3 h3 {
  font-size: 1.6vw;
  font-weight: 400;
  cursor: pointer;
}
#footer-fixed #line {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  bottom: 18%;
}
#footer-fixed #line svg {
  width: 92vw;
}
#foot-logo2 {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
}

/* Footer ends */
