/* Fonts Loader*/
@font-face {
  font-family: cocaCola;
  src: url(/fonts/cocacola1.woff2);
}

@font-face {
  font-family: heading;
  src: url(/fonts/headingFonts/TWKLausanne-300.05f1f099.woff2);
}

@font-face {
  font-family: lightFont;
  src: url(/fonts/paraFonts/light.woff2);
}

@font-face {
  font-family: mediumFont;
  src: url(/fonts/paraFonts/medium.woff2);
}

/* Boiler Plate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

/* Hide the default scrollbar */
body::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Customize scrollbar track */
body::-webkit-scrollbar-track {
  background-color: transparent; /* Set to the desired background color */
}

/* Customize scrollbar handle */
body::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust handle color and transparency */
  border-radius: 3px; /* Adjust border radius to match the design */
}

/* Optionally, add hover and active styles */
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(35, 35, 35, 0.7); /* Adjust handle color on hover */
}

body::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 1); /* Adjust handle color on active state */
}

*::selection{
  color: #d91921;
  background-color: rgb(53, 53, 53);
}

/* For spans */
.inline-block {
  display: inline-block;
}

#main {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

/* Loader animation  starts*/
.main-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  display: flex;
  pointer-events: none;
  color: #fff;
  background-color: #000;
}

.main-loader > video {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

/* Loader animation  end*/

/* Page1 starts */
#page1 {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background-color: #d91921;
  overflow: hidden;
  cursor: none;
}

.page1-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent, #000000a7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page1-circle {
  position: fixed;
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  background-color: #efefef3d;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 100;
  filter: blur(0.5px);
  scale: 0;
  opacity: 0;
}

.page1-circle > h1 {
  color: #ffffffdf;
  font-size: 0.8vw;
  font-family: lightFont;
}

nav {
  cursor: auto;
  opacity: 0;
  position: fixed;
  padding: 0vw 2vw;
  padding-top: 0.5vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  color: #fff;
}

.nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.nav-center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5vw;
}

.nav-center > h1 {
  font-size: 3.5vw;
  opacity: 0.9;
  font-family: cocaCola;
  font-weight: 100;
}

.nav-right-elem {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 2vw;
}

.nav-right {
  display: flex;
  gap: 5vw;
  font-size: 1.2vw;
  align-items: center;
}

.nav-right-menu {
  z-index: 9;
  cursor: pointer;
  width: 3.2vw;
  height: 3.2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw 0.6vw;
}
#containermu {
  height: 100%;
  width: 100%;
  position: relative;
}

.menu-line {
  position: absolute;
  width: 100%;
  height: 8%;
  background-color: #fff;
}
#li1 {
  top: 35%;
  left: 0;
}
#li2 {
  top: 65%;
  right: 0;
}
#navigation {
  position: fixed;
  z-index: 9;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
}
#sidepanel {
  width: 40%;
  height: 100%;
  background-color: #f8f8f8;
  position: relative;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#sidepanel #logo {
  position: absolute;
  padding: 0vw 2vw;
  padding-top: 1vw;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}
.close-container {
  width: 3.2vw;
  height: 3.2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw 0.6vw;
}

#close {
  z-index: 9;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
}

.close-line {
  position: absolute;
  width: 8%;
  height: 0%;
  background-color: rgb(1, 1, 1);
  top: 15%;
}
#cli1 {
  left: 7%;
  transform-origin: top;
  transform: rotate(-45deg);
}
#cli2 {
  transform-origin: top;
  right: 7%;
  transform: rotate(45deg);
}
#sidepanel #menu-text h4 {
  font-size: 3vw;
  font-weight: 500;
  cursor: pointer;
  line-height: 1;
}
#sidepanel #menu-text h4 span {
  font-family: mediumFont;
}
#sidepanel #menu-text .menu-wrap {
  height: 3.3vw;
  width: fit-content;
  overflow: hidden;
  margin-bottom: 1.1vw;
}

#sidepanel #menu-logo i {
  position: relative;
  font-size: 2vw;
  margin-left: 1vw;
  cursor: pointer;
}
#sidepanel #menu-logo i::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 0;
  height: 5%;
  width: 0%;
  background-color: black;
  transition: all ease 0.3s;
}
#sidepanel #menu-logo i:hover::after {
  width: 100%;
}
#menu-text .txt {
  width: fit-content;
  margin-bottom: 1.5vw;
}
#cursor {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 50%;
  height: 3.2vw;
  width: 3.2vw;
  z-index: 999;
  transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
  mix-blend-mode: difference;
}
.webgl {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.page1-main {
  position: relative;
  height: 55vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 5vw;
}

.page1-main > h1 {
  font-size: 22vw;
  line-height: 0.6;
  color: #8c0000;
  font-weight: 400;
  font-family: cocaCola;
  white-space: nowrap;
}

.page1-footer {
  position: relative;
  padding: 1vw 2vw;
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: #fff;
}

.page1-footer-left {
  position: relative;
  width: 34vw;
}

.page1-footer-left-heading {
  position: relative;
  height: 10vw;
  overflow: hidden;
  padding: 2vw 0;
}

.page1-footer-left-para {
  position: relative;
  height: 3vw;
  overflow: hidden;
  padding: 2vw 0;
}

.page1-footer-left h1 {
  position: absolute;
  top: 100%;
  font-size: 6vw;
  line-height: 0.8;
  white-space: nowrap;
  font-family: heading;
  font-weight: 500;
}

.page1-footer-left h3 {
  position: absolute;
  top: 100%;
  font-size: 2.8vw;
  font-weight: 500;
  margin-top: 0.5vw;
  font-family: lightFont;
}

.page1-footer-right {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.5vw;
}

.page1-footer-title {
  width: 14vw;
  overflow: hidden;
}

.page1-footer-title > h1 {
  font-family: lightFont;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 8px;
  font-size: 0.8vw;
  white-space: nowrap;
}

.page1-footer-title > h1 > span {
  font-family: lightFont;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 6px;
  font-size: 0.8vw;
}

.three-loder {
  position: relative;
  width: 14vw;
  height: 8px;
  background-color: #a0a0a0;
}

.three-loder-line {
  width: 0%;
  height: 100%;
  background-color: #fff;
}

/* Page1 ends */

/* Page2 starts */
#page2 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  padding: 2.5vw 0;
  padding-bottom: 0;
}
#page2 #slide1 {
  width: 100%;
  display: flex;
  margin-bottom: 8vw;
}
#page2 #slide1 h2 {
  flex-shrink: 0;
  display: flex;
  font-size: 4vw;
  text-transform: capitalize;
  color: #d91921;
  font-weight: 500;
  transform: translateX(-100%);
  font-family: heading;
}

#page2 #slide1 h2 span {
  margin-right: 4vw;
  display: flex;
  align-items: center;
  gap: 2vw;
  font-family: heading;
  font-weight: 500;
}

#page2 h1 {
  font-size: 4vw;
  color: #d91921;
  text-transform: capitalize;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: heading;
  font-weight: 500;
}
.resp-des {
  display: block;
}
.resp-text {
  display: none;
}
#page2 h1 #textgif {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50px;
  margin: 0 1vw;
}
#page2 h1 #textgif img {
  width: 10vw;
  height: 4vw;
  object-fit: cover;
}
#page2 p {
  font-size: 1.36vw;
  width: 52%;
  margin: 0 auto;
  font-weight: 500;
  color: #3c3c3c;
  text-transform: capitalize;
  margin: 1.5vw auto;
  line-height: 1.4;
  font-family: lightFont;
}

#swiper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cursor2 {
  height: 4.5vw;
  width: 4.5vw;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d91921;
  font-size: 2vw;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 9;
  transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
}
#swiper #swiper-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 95%;
  opacity: 0;
  z-index: 9;
}
#swiper #swiper-btn:hover {
  opacity: 1;
}

#swiper-btn .btns {
  color: #fff;
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0.408);
  padding: 4vw;
  transform: scale(0.4);
  border-radius: 50%;
}
.swiper {
  position: relative;
  width: 100%;
  height: 30%;
  transform: scale(3);
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 15px; */
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.over-card {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent 10%, black);
  padding: 1vw 2vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 1;
  transition: all ease 0.5s;
  color: #fff;
}

.over-card h6 {
  font-size: 0.7vw;
  width: 73%;
  line-height: 1.1;
  font-weight: 500;
  opacity: 0.9;
  text-align: left;
  text-transform: capitalize;
  font-family: lightFont;
}

/* Page2 ends */

/* Page3 starts */
#page3 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page3 canvas {
  position: relative;
  min-height: 100vh;
  width: 100%;
}
#page3 #text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: end;
  justify-content: start;
  padding: 4vw 2vw;
}
#page3 #text-container h4{
  font-size: 2.8vw;
  font-family: lightFont;
  font-weight: 600;
  color: #fff;
}

.canvas-text-wrap{
  height: 3.4vw;
  overflow: hidden;
  margin-bottom: 0.8vw;
}
.canvas-text-wrap h4 span {
  display: inline-block;
}
/* Page3 ends */

/* Page4 starts */
#page4Desktop {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#page4Desktop .heading {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  gap: 2vw;
  font-family: heading;
  padding-left: 1vw;
}

#page4Desktop .heading h1 {
  font-size: 4vw;
  color: #d91921;
  text-transform: capitalize;
  font-weight: 400;
  font-family: heading;
}

#page4Desktop .heading .arrow {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  color: #fff;
  border: 2px solid #d91921;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page4Desktop .heading .arrow i {
  color: #d91921;
  font-size: 2vw;
}

#page4Desktop #sections #hoverdiv {
  width: 27vw;
  height: 23vw;
  position: absolute;
  left: 40%;
  z-index: 3;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
}

#page4Desktop #sections #hoverdiv #inner-hoverdiv {
  width: 27vw;
  height: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

#page4Desktop #sections #hoverdiv #inner-hoverdiv img {
  width: 100%;
  height: 23vw;
  object-fit: cover;
}

#page4Desktop .section {
  width: 100%;
  height: 20vh;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 1vw;
  transition: all ease 0.7s;
  font-family: lightFont;
  z-index: 0;
}

#page4Desktop #section1 {
  border-top: 1px solid black;
}

#page4Desktop .section h3 {
  font-size: 3vw;
  font-weight: 100;
  text-transform: capitalize;
  color: rgb(91, 91, 91);
  z-index: 99;
  transition: all ease 0.3s;
}

#page4Desktop .section:hover {
  cursor: pointer;
}

#page4Desktop .section:hover h3 {
  transform: translateX(5%);
  color: black;
}

#page4Desktop .section i {
  font-size: 2.5vw;
  color: #d91921;
}

#page4Desktop .section #image {
  width: 30vw;
  height: 25vw;
  position: absolute;
  z-index: 10;
  scale: 0;
}

#page4Desktop .section img {
  width: 28vw;
  height: 22vw;
  z-index: 10;
  scale: 0;
  pointer-events: none;
  position: absolute;
}

#page4Mobile {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3vw;
  background-color: #fff;
  padding: 1vw 2vw;
  font-family: lightFont;
  display: none;
}

#page4Mobile h1
{
  font-size: 6.5vw;
  font-weight: 500;
  font-family: heading;
  margin-top: 1vw;
  margin-bottom: 2vw;
  color: #d91921;
}

#page4Mobile .card {
  width: 100%;
  height: 47vh;
}

#page4Mobile .card #image {
  width: 100%;
  height: 90%;
}

#page4Mobile .card #image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#page4Mobile .card #name {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(91, 91, 91);
}

/* Page4 ends */

/* Page5 starts */
#page5 {
  width: 100%;
  min-height: 100vh;
  color: #d91921;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: heading;
}

#page5 #heading {
  width: 100%;
}

#page5 #heading h3 {
  font-size: 3.5vw;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  margin: 8vh 0;
}

#page5 #video {
  width: 60%;
  height: 100vh;
  position: relative;
}

#page5 #video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Page5 ends */

/* Page6 starts */
#page6 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.page6-wrapper {
  overflow: hidden;
}

.page6-wrapper > h1 {
  position: relative;
  top: 0%;
  font-size: 16vw;
  line-height: 1;
  color: #d91921;
  font-family: heading;
  font-weight: 500;
}

.page6-wrapper > h1 > span {
  font-family: heading;
  font-weight: 500;
}

.page6-imgs {
  position: absolute;
  top: 110%;
  height: 90vh;
  width: 70vw;
  /* rotate: -5deg; */
  right: -25%;
  opacity: 1;
  overflow: hidden;
}

.page6-overlay > h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7.5vw;
  white-space: nowrap;
  z-index: 9;
  color: #fff;
  font-family: cocaCola;
  font-weight: 100;
}

.page6-overlay > h1 > span {
  scale: 0;
}

.page6-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000007e;
  opacity: 0;
}

.page6-imgs img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Page6 ends */

/* Page7 starts */
#page7 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  padding: 2vw ;
  color: #d91921;
}

.page7-part1 {
  position: relative;
  height: 110vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page7-part1-left {
  position: relative;
  height: 100%;
  width: 49%;
}

.page7-part1-left > h1 {
  font-size: 4vw;
  color: #d91921;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 1.1;
  font-family: heading;
  font-weight: 500;
}

.page7-part1-left > p {
  font-size: 1.36vw;
  font-weight: 500;
  color: #3c3c3c;
  text-transform: capitalize;
  margin: 1.5vw 0;
  line-height: 1.4;
  width: 90%;
  font-family: lightFont;
}

#page7 .button {
  background-color: transparent;
  width: fit-content;
  color: #d91921;
  padding: 0.7vw 1.2vw;
  margin-top: 1.5vw;
  border-radius: 50px;
  border: 2px solid #d91921;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#page7 .button h6 {
  position: relative;
  z-index: 2;
  font-size: 1.1vw;
  font-weight: 600;
  font-family: lightFont;
}
#page7 .button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d91921;
  top: 100%;
  left: 0;
  border-radius: 50%;
  transition: all ease 0.3s;
  z-index: 1;
}
#page7 .button:hover::after {
  top: 0;
  border-radius: 0%;
}
#page7 .button:hover h6 {
  color: #fff;
}

.page7-part1-right {
  position: relative;
  height: 100%;
  width: 49%;
  overflow: hidden;
}

.page7-part1-right > img {
  height: 120%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

.page7-part1-right > canvas {
  display: block;
}

.page7-part1-right > * {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.page7-part2 {
  position: relative;
  height: 110vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5vw;
}

.page7-part2-left {
  position: relative;
  height: 100%;
  width: 49%;
  overflow: hidden;
}

.page7-part2-left > img {
  height: 120%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

.page7-part2-left > canvas {
  display: block;
}

.page7-part2-left > * {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.page7-part2-right {
  position: relative;
  height: 100%;
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page7-part2-right-ig {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.page7-part2-right-ig > canvas {
  display: block;
}

.page7-part2-right-ig > * {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.page7-part2-right-ig img {
  width: 100%;
  height: 120%;
  object-fit: cover;
  object-position: top;
  opacity: 0;
}

.page7-part2-right-text {
  padding-left: 6vw;
  padding-bottom: 2vw;
}
.page7-part2-right-text h1 {
  font-size: 4vw;
  color: #d91921;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 1.1;
  font-family: heading;
  font-weight: 500;
}

.page7-part2-right-text p {
  font-size: 1.36vw;
  font-weight: 500;
  color: #3c3c3c;
  text-transform: capitalize;
  margin: 1vw 0;
  line-height: 1.4;
  width: 90%;
  font-family: lightFont;
}

.page7-part2-right-text button {
  background-color: #d91921;
  color: #fff;
  border: none;
  padding: 0.5vw 1vw;
  font-size: 1vw;
  margin-top: 2vw;
  font-family: lightFont;
}

/* Page7 ends */
#page8 {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  pointer-events: none;
}
/* Footer starts */
#footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #d91921;
  color: #fff;
  padding: 0 2vw;
}
#foot-pt1 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
#foot-company {
  display: flex;
  align-items: center;
}
#foot-pt1 #foot-logo {
  height: 2.5vw;
  padding-left: 0.8vw;
  padding-right: 0.2vw;
}
#foot-pt1 h2 {
  font-weight: 400;
  font-size: 2vw;
  font-family: lightFont;
}

#foot-pt2 {
  display: flex;
  gap: 9vw;
  margin-top: 2vw;
}
.wrp {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 0.3vw;
  margin-bottom: 1.2vw;
}
.wrp .arrow {
  position: relative;
  height: 2vw;
  width: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrp .arrow .second-arr {
  position: absolute;
  left: -100%;
  top: 100%;
}
.wrp:hover .first-arr {
  transform: translate(100%, -100%);
}
.wrp:hover .second-arr {
  transform: translate(100%, -100%);
}
.wrp i {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 2.5vw;
  transition: all ease 0.4s;
}

#foot-pt2 .wrap-ft {
  width: fit-content;
  height: 1.2vw;
  overflow: hidden;
  margin-bottom: 0.8vw;
}

#foot-pt2 h2 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.8vw;
  cursor: pointer;
  font-family: lightFont;
}
#foot-pt2 h4 {
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 1;
  cursor: pointer;
  font-family: mediumFont;
}

#foot-pt3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3vw;
  padding-bottom: 1vw;
}
.text-effect span {
  display: inline-block;
}

#foot-pt3 #social {
  display: flex;
  gap: 2.5vw;
}
#foot-pt3 .wrp {
  font-weight: 400;
}
#foot-pt3 h3 {
  font-size: 1.5vw;
  font-weight: 500;
  cursor: pointer;
  font-family: lightFont;
}
#footer-fixed .line {
  width: 100%;
  height: 20vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer-fixed #line {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  bottom: 20%;
  overflow: hidden;
  width: 100%;
  height: 20vh;
}

#foot-logo2 {
  position: absolute;
  left: 50%;
  top: 79%;
  width: 60vw;
  transform: translateX(-50%);
}

/* Footer ends */

/* Responsive 1200px */
@media (min-width: 993px) and (max-width: 1200px) {
  nav {
    padding: 1vw 2vw;
  }
  .nav-center h1 {
    font-size: 4.5vw;
  }
  .nav-right {
    font-size: 1.8vw;
  }
  .page1-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #page1 .page1-footer {
    margin-bottom: 2vw;
  }
  #page2 #slide1 h2 {
    font-size: 4.5vw;
  }
  #page2 #slide1 h2 img {
    height: 6vw;
  }
  #page2 .resp-des {
    display: none;
  }
  #page2 .resp-text {
    display: block;
  }
  #page2 .resp-text h1 {
    font-size: 4.5vw;
  }
  #page2 p {
    font-size: 1.6vw;
    width: 60%;
  }
  #page7 {
    padding: 2vw;
  }
  #page7 h1 {
    font-size: 4.5vw;
  }
  #page7 p {
    font-size: 1.6vw;
  }
  .page7-part2-right-text {
    padding-left: 4vw;
    padding-bottom: 8vw;
  }
  #page7 .button {
    padding: 1vw 1.4vw;
  }
  #page7 .button h6 {
    font-size: 1.2vw;
  }
  #footer-fixed {
    padding: 4vw 2vw;
  }
  #foot-pt2 {
    margin-top: 4vw;
  }
  #foot-pt3 {
    margin-top: 10vw;
  }
  #footer-fixed .line {
    height: 15vh;
  }
  #footer-fixed #line {
    height: 15vh;
  }
  #footer-fixed #line svg {
    width: 96%;
  }
}

/* Responsive 992px */
@media (min-width: 769px) and (max-width: 992px) {
  nav {
    padding: 1.5vw 2vw;
  }
  .nav-center h1 {
    font-size: 4.5vw;
  }
  .nav-right {
    font-size: 1.8vw;
  }
  .page1-circle {
    height: 6vw;
    width: 6vw;
  }
  .page1-circle h1 {
    font-size: 1.1vw;
  }
  .page1-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #page1 .page1-footer {
    margin-bottom: 2vw;
  }
  #page2 #slide1 h2 {
    font-size: 4.5vw;
  }
  #page2 #slide1 h2 img {
    height: 6vw;
  }
  #page2 .resp-des {
    display: none;
  }
  #page2 .resp-text {
    display: block;
  }
  #page2 .resp-text h1 {
    font-size: 4.5vw;
  }
  #page2 p {
    font-size: 1.6vw;
  }
  #canvas-text {
    padding-top: 5vw;
  }
  #page7 {
    padding: 2vw;
  }
  #page7 h1 {
    font-size: 4.5vw;
  }
  #page7 p {
    font-size: 1.6vw;
  }
  .page7-part2-right-text {
    padding-left: 4vw;
    padding-bottom: 8vw;
  }
  #page7 .button {
    padding: 1vw 1.4vw;
  }
  #page7 .button h6 {
    font-size: 1.2vw;
  }
  #footer-fixed {
    padding: 4vw 2vw;
  }
  #footer-fixed .line {
    height: 13vh;
  }
  #footer-fixed #line {
    height: 13vh;
  }
  #footer-fixed #line svg {
    width: 96%;
  }
  #foot-pt2 {
    margin-top: 10vw;
  }
  #foot-pt2 h2 {
    font-size: 2vw;
  }
  #foot-pt2 .wrap-ft {
    height: 1.8vw;
  }
  #foot-pt2 .wrap-ft h4 {
    font-size: 1.8vw;
    font-family: lightFont;
  }
  #foot-pt3 {
    margin-top: 10vw;
  }
  #foot-pt3 h3 {
    font-size: 1.8vw;
  }
  #foot-pt3 .wrp h3 {
    font-size: 2vw;
  }
  #foot-logo2 {
    top: 83%;
  }
}

/* Responsive 768px */
@media (min-width: 601px) and (max-width: 768px) {
  nav {
    padding: 2.5vw 3vw;
  }
  .nav-center h1 {
    font-size: 5vw;
  }
  .nav-right {
    font-size: 2vw;
  }
  .nav-right-elem {
    gap: 4vw;
  }
  .nav-right-menu {
    z-index: 9;
    cursor: pointer;
    width: 8vw;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw 2vw;
  }
  #containermu {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .menu-line {
    position: absolute;
    width: 100%;
    height: 8%;
    background-color: #fff;
  }
  #li1 {
    top: 35%;
    left: 0;
  }
  #li2 {
    top: 65%;
    right: 0;
  }

  #sidepanel {
    width: 50%;
    padding: 10vw 3vw;
  }
  #sidepanel #logo {
    padding: 0vw 3vw;
    padding-top: 2vw;
  }
  .close-container {
    width: 6vw;
    height: 6vw;
  }

  #cli1 {
    left: 10%;
  }
  #cli2 {
    right: 10%;
  }
  #sidepanel #menu-text h4 {
    font-size: 5vw;
  }

  #sidepanel #menu-text .menu-wrap {
    height: 5.3vw;
    margin-bottom: 3vw;
  }

  #sidepanel #menu-logo i {
    font-size: 4vw;
    margin-left: 3vw;
  }
  .page1-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .page1-circle {
    height: 8vw;
    width: 8vw;
  }
  .page1-circle h1 {
    font-size: 1.5vw;
    font-weight: 500;
  }
  .page1-footer {
    padding: 1vw 3vw;
    margin-bottom: 3vw;
  }
  .page1-footer-title {
    width: 20vw;
  }
  .three-loder {
    width: 20vw;
  }
  .page1-footer-title h1 span {
    font-size: 1vw;
  }
  #page2 .resp-des {
    display: none;
  }
  #page2 .resp-text {
    display: block;
  }
  #page2 h1 {
    font-size: 6vw;
  }
  #page2 #slide1 h2 {
    font-size: 6vw;
  }
  #page2 #slide1 h2 span img {
    height: 6vw;
  }
  #page2 p {
    font-size: 2.1vw;
    width: 80%;
    line-height: 1.5;
  }
  #swiper-btn .btns {
    padding: 6vw;
  }
  .over-card h6 {
    font-size: 0.8vw;
  }
  #page3 #text-container {
    padding-bottom: 12vw;
  }
  #page3 #text-container h4 {
    font-size: 3.5vw;
    font-weight: 500;
    font-family: lightFont;
    color: #fff;
  }

  .canvas-text-wrap {
    height: 4vw;
    overflow: hidden;
    margin-bottom: 0.8vw;
  }

  #page4 .heading h1 {
    font-size: 6vw;
    text-transform: capitalize;
    font-weight: 500;
    font-family: heading;
  }
  #page4 .section {
    height: 20vh;
  }
  #page4 .section h3 {
    font-family: lightFont;
    font-size: 4vw;
  }
  #page6 .page6-imgs {
    height: 80vh;
  }
  #page7 {
    padding: 2vw 3vw;
  }
  .page7-part1 {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .page7-part1-left h1 {
    font-size: 6vw;
  }
  .page7-part1-left {
    height: 49%;
    width: 100%;
  }

  .page7-part1-left > p {
    margin: 2vw 0;
    font-size: 2.1vw;
    width: 80%;
    line-height: 1.5;
  }

  #page7 .button {
    padding: 1vw 1.5vw;
    margin-top: 3vw;
  }
  #page7 .button h6 {
    font-size: 1.7vw;
    font-weight: 600;
  }

  .page7-part1-right {
    height: 60%;
    width: 100%;
  }

  .page7-part2 {
    height: 150vh;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .page7-part2-left {
    height: 40%;
    width: 100%;
  }
  .page7-part2-left img {
    height: 130%;
  }

  .page7-part2-right {
    height: 60%;
    width: 100%;
    margin-top: 1.5vw;
  }
  .page7-part2-right-ig {
    width: 100%;
    height: 60%;
    overflow: hidden;
  }
  .page7-part2-right-ig img {
    width: 100%;
    height: 130%;
    object-fit: cover;
    object-position: top;
  }
  .page7-part2-right-text h1 {
    font-size: 6vw;
  }
  .page7-part2-right-text {
    padding: 0;
    padding-bottom: 3vw;
  }
  .page7-part2-right-text p {
    margin: 2vw 0;
    font-size: 2.1vw;
    width: 80%;
    line-height: 1.5;
  }

  .page7-part2-right-text button {
    background-color: #d91921;
    color: #fff;
    border: none;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    margin-top: 2vw;
    font-family: lightFont;
  }
  #footer-fixed {
    padding: 4vw 3vw;
  }
  #footer-fixed .line {
    height: 10vh;
  }
  #foot-company h2 {
    font-size: 3vw;
  }
  #foot-logo {
    height: 3vw;
  }
  #foot-pt2 {
    margin-top: 10vw;
  }
  #foot-pt2 h2 {
    font-size: 2.5vw;
  }
  #foot-pt2 h4 {
    font-size: 2vw;
    font-weight: 500;
  }
  #foot-pt2 .wrap-ft {
    height: 2vw;
  }
  #foot-pt3 {
    margin-top: 15vw;
  }
  #foot-pt3 h3 {
    font-size: 2vw;
    font-family: mediumFont;
  }
  #footer-fixed #line {
    bottom: 25%;
    height: 15vh;
  }
  #foot-logo2 {
    width: 75vw;
    top: 82%;
  }
}

/* Responsive 600px */

@media (max-width: 600px) {
  *{
    user-select: none;
  }
  nav {
    padding: 3vw 3.5vw;
  }
  .nav-center > h1 {
    font-size: 10vw;
  }
  .nav-right-elem {
    gap: 5vw;
  }
  .nav-right {
    gap: 7vw;
  }
  .nav-right i {
    font-size: 4vw;
  }
  .nav-right-menu {
    z-index: 9;
    cursor: pointer;
    width: 10vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vw 2vw;
  }
  #containermu {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .menu-line {
    position: absolute;
    width: 100%;
    height: 8%;
    background-color: #fff;
  }
  #li1 {
    top: 35%;
    left: 0;
  }
  #li2 {
    top: 65%;
    right: 0;
  }
  #sidepanel {
    width: 100%;
    padding: 20vw 3.5vw;
  }
  #sidepanel #logo {
    padding: 0vw 3.5vw;
    padding-top: 4vw;
  }
  .close-container {
    width: 10vw;
    height: 10vw;
  }

  #cli1 {
    left: 10%;
  }
  #cli2 {
    right: 10%;
  }
  #sidepanel #menu-text h4 {
    font-size: 7vw;
  }

  #sidepanel #menu-text .menu-wrap {
    height: 7.3vw;
    margin-bottom: 5vw;
  }

  #sidepanel #menu-logo i {
    font-size: 7vw;
    margin-left: 5vw;
  }
  .page1-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .page1-circle {
    display: none;
  }
  .page1-main > h1 {
    font-size: 33vw;
  }
  .page1-footer {
    padding: 1vw 3.5vw;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    z-index: 99;
  }
  .page1-footer-left {
    width: 100%;
  }

  .page1-footer-left-heading {
    height: 25vw;
  }

  .page1-footer-left-para {
    height: 10vw;
  }

  .page1-footer-left h1 {
    font-size: 15vw;
  }

  .page1-footer-left h3 {
    font-size: 8vw;
  }

  .page1-footer-right {
    display: none;
  }
  #page2 {
    padding: 6vw 0;
  }
  #page2 #slide1 {
    margin-bottom: 8vw;
  }
  #page2 #slide1 h2 {
    font-size: 6.5vw;
    font-weight: 400;
  }

  #page2 #slide1 h2 span img {
    height: 8vw;
  }

  #page2 h1 {
    font-size: 6.5vw;
    font-weight: 400;
  }
  .resp-des {
    display: none;
  }
  .resp-text {
    display: block;
  }
  #page2 h1 #textgif {
    margin: 0 1.5vw;
  }
  #page2 h1 #textgif img {
    width: 12vw;
    height: 5vw;
  }
  #page2 p {
    font-size: 3.5vw;
    width: 85%;
    margin: 2.5vw auto;
    line-height: 1.1;
  }
  .over-card {
    padding: 4vw 2vw;
  }
  .over-card h6 {
    font-size: 1.7vw;
    width: 90%;
    line-height: 1.2;
    font-weight: 400;
    opacity: 0.8;
  }
  #cursor2 ,#cursor {
    display: none;
  }
  #swiper #swiper-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    height: 100%;
    width: 89%;
    opacity: 1;
  }
  #swiper-btn .btns {
    font-weight: 600;
    padding: 10vw;
    transform: scale(0.5);
  }
  #page3 #text-container{
    padding-bottom: 20vw;
  }
  #page3 #text-container h4{
    font-size: 7vw;
    font-weight: 800;
    font-family: lightFont;
    color: #fff;
  }
  
  .canvas-text-wrap{
    height: 8.2vw;
    overflow: hidden;
    margin-bottom: 0.8vw;
  }

  #page4Desktop {
    display: none;
  }
  #page4Mobile {
    display: block;
  }
  #page5 {
    min-height: 80vh;
    justify-content: space-between;
  }
  #page5 #heading h3 {
    font-size: 6.5vw;
    font-weight: 400;
    margin: 4vw 0;
  }
  #page5 #video {
    width: 60%;
    height: 60vh;
    position: relative;
  }
  #page6 .page6-imgs {
    top: 110%;
    height: 60vh;
    width: 78vw;
    right: -25%;
    opacity: 1;
  }

  #page7 .page7-part1 {
    gap: 4vw;
    flex-direction: column;
  }
  #page7 .page7-part1-left {
    height: 49%;
    width: 100%;
  }
  #page7 .page7-part1-left > h1 {
    font-size: 8vw;
    line-height: 1.1;
  }

  #page7 .page7-part1-left > p {
    font-size: 4vw;
    font-weight: 500;
    margin: 4vw 0;
    line-height: 1.4;
    width: 80%;
  }

  #page7 .button {
    padding: 2.3vw 6vw;
    margin-top: 5vw;
  }
  #page7 .button h6 {
    font-size: 3vw;
    font-weight: 900;
  }

  .page7-part1-right {
    height: 51%;
    width: 100%;
  }

  .page7-part1-right > img {
    height: 150%;
  }

  .page7-part2 {
    flex-direction: column;
    gap: 4vw;
    margin-top: 4vw;
  }

  .page7-part2-left {
    height: 51%;
    width: 100%;
  }

  .page7-part2-left > img {
    height: 150%;
  }

  .page7-part2-right {
    height: 51%;
    width: 100%;
    flex-direction: column;
  }
  .page7-part2-right-ig {
    height: 40%;
  }
  .page7-part2-right-ig img {
    height: 150%;
  }
  .page7-part2-right-text {
    padding: 0;
    margin-bottom: 4vw;
  }
  .page7-part2-right-text h1 {
    font-size: 8vw;
    line-height: 1.1;
  }

  .page7-part2-right-text p {
    font-size: 4vw;
    font-weight: 500;
    margin: 2vw 0;
    line-height: 1.4;
    width: 80%;
  }

  .page7-part2-right-text button {
    background-color: #d91921;
    color: #fff;
    border: none;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    margin-top: 2vw;
    font-family: lightFont;
  }
  #page8 {
    height: 90vh;
  }
  #footer-fixed {
    height: 90vh;
    padding: 4vw 3.5vw;
  }
  #foot-pt1 {
    width: 100%;
    flex-direction: column;
    align-items: start;
    margin-top: 8vw;
    gap: 0;
  }
  #foot-company {
    display: flex;
    align-items: center;
  }
  #foot-pt1 #foot-logo {
    height: 8vw;
    padding: 0 2vw;
    padding-left: 3vw;
  }
  #foot-pt1 h2 {
    font-weight: 500;
    font-size: 6.5vw;
  }
  #foot-pt1 .line {
    height: 8vh;
  }

  #foot-pt2 {
    flex-direction: column;
    gap: 4vw;
    margin-top: 2vw;
  }
  .wrp {
    gap: 0.3vw;
    margin-bottom: 3vw;
  }
  .wrp .arrow {
    height: 6vw;
    width: 6vw;
  }

  .wrp i {
    font-size: 6vw;
  }

  #foot-pt2 .wrap-ft {
    height: 4.2vw;
    margin-bottom: 1.5vw;
  }
  #foot-pt2 h2 {
    font-weight: 500;
    font-size: 5vw;
  }
  #foot-pt2 h4 {
    font-weight: 400;
    font-size: 4vw;
    font-family: lightFont;
  }

  #foot-pt3 {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin-top: 0vw;
    padding-bottom: 1vw;
  }

  #foot-pt3 #social {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }
  #foot-pt3 #social h3 {
    font-weight: 400;
    font-size: 4vw;
    font-family: lightFont;
  }
  #foot-pt3 .wrp {
    margin-top: 4vw;
  }
  #foot-pt3 .wrp h3 {
    font-weight: 500;
    font-size: 5vw;
  }
  #footer-fixed #line {
    bottom: 12%;
    overflow: hidden;
    width: 100%;
    height: 8vh;
  }

  #foot-logo2 {
    position: absolute;
    left: 50%;
    top: 90%;
    width: 80vw;
    transform: translateX(-50%);
  }
}
